[Unit]
Description=IPv4 DHCP server
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/dhcpd -4 -d -cf /etc/dhcpd.conf

[Install]
WantedBy=multi-user.target
